<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref='/tab1' style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="--background-color: white;">
  </ion-header> 
  <div>
      <ion-item id="inicio"  lines="none" style="--background:white; text-align: center;">
        <ion-title id="titulo">
          <ion-label>Línea Sintomatológica</ion-label>
        </ion-title>
      </ion-item>
  </div>
  <ion-grid>
    <div>
      <ion-item *ngFor="let item of dataSymptons;let i = index"  lines="full"(click)="clickToChange()">
        
        <p id ="alertsTrue">{{item.data.slice(0,-14)}}</p>
        <div *ngIf="change">
          <ion-item *ngFor="let data of item.symptons;let k = index" lines="">
            <p id ="alertsTrue">{{data.simptons}}</p>
          </ion-item>
        </div>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
