<div class="row">
  <div class="col">
    <img class="img" src="../../../assets/imagenes/estadistio.jpg" alt="">
  </div>
  <div class="col">
    <app-polar></app-polar>
  </div>
</div>
<div class="row">
  <div class=" d-flex flex-row conten-card">
    <div class="card one" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{numberUser}}</h6>
        <p class="card-text">Usuarios que estan el la aplicacion </p>
      </div>
    </div>
    <div class="card one" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Alertas</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{numberSintoms}}</h6>
        <p class="card-text">Alertas en usuarios</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicacion socio demografica</th>
        <th scope="col">Genero</th>
        <th scope="col">visualizar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userData">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.residencia}}</td>
        <td>{{item.gener}}</td>
        <td><svg (click)="localSend(item.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg></td>
      </tr>
    </tbody>
  </table>
</div>