
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>forgotpassword</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
        <ion-card-title>
          ¿Olvidaste tu contraseña?
        </ion-card-title>
        <ion-card-subtitle>
          Introduce tu correo electrónico para restablecer tu contraseña
          </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      <br>
    <ion-item>
      <ion-input name="email" type="text" placeholder="Correo electrónico" [(ngModle)]="email" required>
        <ion-icon name="mail-outline" ></ion-icon>
      </ion-input>
  </ion-item>
  <div class="sign-btn-wrap">
    <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn">Restablecer</ion-button>
   </div>
    </ion-card-content>
  </ion-card>
</ion-content>