<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header> 
<ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="assets/imagenes/Medical business.png" />
        <h2>Welcome</h2>
        <p>
          The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
          demonstration of proper code use.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/imagenes/Safe delivery.png" />
      <h2>What is Ionic?</h2>
      <p>
        <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
        with web technologies like HTML, CSS, and JavaScript.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/imagenes/hombresentado.png" />
      <h2 style="margin-top: 63px;">¡Comencemos!</h2>
      <ion-button fill="clear">Entrar a PeriOpera <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>