ion-content {
    --background:#F5F5F8;
}
#titulo{
    position: static;
    width: 277px;
    height: 32px;
    left: 0px;
    top: 9px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    line-height: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
}
#nombreperfil{
    position: static;
    width: 277px;
    height: 32px;
    left: 0px;
    top: 9px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  line-height: 32px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.5px;
}
#imageSub{
    width: 20px;
    height: auto;
    z-index: 2;
    display: flex;
    margin-left: 4rem;
    margin-top: -1rem;
    border: radius 15px;
    background-color: #c3bfbf;
    padding:3px;
    position: absolute;
}
ion-icon {
    color: black;
    font-size: 13px;
  }
    ion-grid{
        height: 18vh;
        width: 120%;
        margin-left: -5.0vh;
        margin-top: -5px;
        --background:#F5F5F8;
    }
        div {
            transform: translateY(2vh);
            ion-avatar {
                width: 15vh;
                height: 15vh;
                z-index: 1;
                position: static;
                background: var(--ion-color-white);
                margin-bottom: 5px;
                border: 7px solid #EDECF4;
        }
    }
ion-label{
    position: static;
    width: 275px;
    height: 26px;
    left: 36px;
    top: 0px;
    font-style: normal;
    font-weight: 530;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color:black;
}