ion-content {
    --background:#F5F5F8;
}
ion-icon {
    color: black;
    font-size: 13px;
  }
ion-title{
    width: 277px;
    height: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #000000;
    }
    ion-item {
        --background: white;
        --background-color: white;
        --color:white;
        h4 {
            position: static;
            width: 277px;
            height: 32px;
            left: 0px;
            top: 9px;
          font-weight: 700;
          font-size: 20px;
          color: black;
          line-height: 32px;
          font-style: normal;
          font-weight: bold;
          letter-spacing: -0.5px;
        }
    }

    ion-grid{
        height: 30vh;
        width: 120%;
        background: white;
        margin-left: -4.5vh;
        margin-top: -5px;
        --background:#F5F5F8;
    }
        div {
            transform: translateY(2vh);
            ion-avatar {
                width: 15vh;
                height: 15vh;
                background: var(--ion-color-white);
                margin-bottom: 5px;
                border: 7px solid #EDECF4;
        }
    }
ion-label{
    position: static;
    width: 275px;
    height: 26px;
    left: 36px;
    top: 0px;
    font-style: normal;
    font-weight: 530;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color:black;
}