<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-item lines="none" style="--background:#f1f5f8; text-align: center;">
    <ion-title>
      <label id="titulo">Configuración</label>
    </ion-title>
  </ion-item>
  
  <ion-grid>
    <div>
      <ion-avatar style="margin: auto;">
        <img src="assets/imagenes/doctor.jpg"/>
        <img id="imageSub" src="http://icons555.com/images/icons-black/image_icon_crayon_pic_512x512.png" alt="" ng-click="nextpage()">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-item lines="none" style="--background:#f1f5f8; text-align: center;">
    <ion-title>
      <label id="nombreperfil">Jhonatan</label>
    </ion-title>
  </ion-item>

  <ion-list style="--background:#f1f5f8; background: #f1f5f8;">
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" button="true" detail="false">
      <ion-icon slot="start" src="assets/imagenes/Vector.svg" style="font-size: 13.33px; position:absolute"></ion-icon>
      <ion-label style="color:black; position:absolute">Cuenta</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" button="true" detail="false">
      <ion-icon slot="start" src="assets/imagenes/1.svg" style="font-size: 13.33px; position:absolute"></ion-icon>
      <ion-label style="color:black; position:absolute">Notificaciones</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" detail="false" button="true">
      <ion-icon slot="start" src="assets/imagenes/6.svg" style="font-size: 13.33px; position:absolute"></ion-icon>
      <ion-label style="color:black; position:absolute">Apariencia</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" detail="false" button="true">
      <ion-icon slot="start" src="assets/imagenes/2.svg" style="font-size: 13.33px;position:absolute"></ion-icon>
      <ion-label style="color:black;position:absolute">Políticas & Seguridad</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" detail="false" button="true">
      <ion-icon slot="start" src="assets/imagenes/3.svg" style="font-size: 13.33px;position:absolute"></ion-icon>
      <ion-label style="color:black;position:absolute">Sonido</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" style="--background:#f1f5f8; background: #f1f5f8;" detail="false" button="true">
      <ion-icon slot="start" src="assets/imagenes/5.svg" style="font-size: 13.33px;position:absolute"></ion-icon>
      <ion-label style="color:black;position:absolute">Idioma</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>