#table{
    width: 1000px;
    margin-left:15vw;
}
#image{
    width:400px;
    margin-left:40vw ;
    margin-bottom: 5vw;
    margin-top: 2rem;
}
h1{
    margin-left:42vw;
    margin-bottom: 5vw;
    margin-top: 2rem;

}