<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header> 
<div>
  <ion-grid id="titulo" style="width: 100%; height:40vh; text-align: center;">
    <img src="assets/imagenes/logo.png" style="height: 60vh; margin-top: -50px;">
  </ion-grid>
</div>
<ion-grid style="width: 100%; height:25vh;">
<ion-item lines= none style="--background: #F5F5F8; margin-top: 10px; text-align: center;font-size: 18px; color:#82799D">
  <ion-label>Organizan</ion-label>
</ion-item>
<ion-row>
  <ion-col>
    <div>
      <img src="assets/logos/ESCUDO-COLOR-H 1.png"/>
    </div>
  </ion-col>
  <ion-col>
    <div>
      <img src="assets/logos/logoNa.png"/>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-item lines= none style="--background: #F5F5F8; margin-top: 10px; text-align: center; font-size: 12px; color:#82799D; ">
    <ion-label>Grupo de investigación Perioperatorio</ion-label>
  </ion-item>
  <ion-item lines= none style="--background: #F5F5F8; margin-top: 10px; text-align: center;font-size: 12px; color:#82799D;margin-top: -10px">
    <ion-label>Grupo de investigación GINDESOFT</ion-label>
  </ion-item>
    <ion-item lines= none style="--background: #F5F5F8; margin-top: 10px; text-align: center;font-size: 12px; color:#82799D;margin-top: -10px">
    <ion-label>Grupo de investigación VERITAS AID</ion-label>
  </ion-item>
  <ion-item lines= none style="--background: #F5F5F8; margin-top: 10px; text-align: center;font-size: 12px; color:#82799D;margin-top: -10px">
    <ion-label>Grupo de investigación CRESER</ion-label>
    </ion-item>
</ion-grid>
<ion-progress-bar type="indeterminate"></ion-progress-bar>