ion-content {
    --background:#F5F5F8;
}
ion-tab-bar, ion-tab-button{
    background-color:white;
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
   }