<ion-header>
</ion-header>
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <img src="assets/imagenes/inicio.png">
    </ion-tab-button>
    <ion-tab-button tab="reportes">
      <img src="assets/imagenes/reportes.png">
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <img src="assets/imagenes/notificaciones.png">
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <img src="assets/imagenes/config.png">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>