ion-content {
    --background:#F5F5F8;
}
ion-tab-bar, ion-tab-button{
    background-color:white;
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    height: 45px;
    left: 0px;
    right: 0px;
    top: 806px;
    box-shadow: 0px -1px 4px
   }