label{


    position: static;
    width: 275px;
    height: 26px;
    left: 36px;
    top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.5px;
    color:black;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 10px;
    text-align: left;
}
#dos{
    border: solid 0.5px #7a7676;
    border-radius: 10%;
    margin-top: 0.5rem;
    width: 300px;
    margin-left:5vh ;
   
}
#dos:hover{
    border: solid 0.5px #7a7676;
    border-radius: 10%;
    transform: scale(0.8);

}
.buttons{
    margin-top:4rem ;
}