<ion-content>
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tabs' style="color:black" text=""> </ion-back-button>
      <h3>Linea de procesos</h3>
   </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <div>
      <img src="../../../assets/imagenes/gif.gif" alt="">
    </div>
  </ion-grid>
  <ion-grid>
    <div class="buttons">
      <ion-item lines="none" style="padding:0px !important;" id="dos" (click)="routerClick('/fullsymptomss')">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <label>Linea sintomatologica</label>
      </ion-item>
      <ion-item lines="none" style="padding:0px !important;" id="dos"(click)="routerClick('/proceso-completo')">
        <label>Linea de perioperatoria</label>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>