.content{
    --background-color: white;
}

#forms{
    margin-bottom: 10%;
    padding:30px;
}
#buttonI{
  margin-top: auto ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5%;
}
.items{
    margin-top: 5%;
}

.label{
    font-size: 12px;
    color: gray;
}