<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-item lines="none" style="--background:#f1f5f8; text-align: center;">
    <ion-title id="titulo">
      <ion-label>Reporte de Síntomas</ion-label>
    </ion-title>
  </ion-item>
<ion-grid id="espacio">
</ion-grid>

  <ion-grid id="botones">
    <ion-card button="true" (click)="lista()">
      <ion-item lines="none" style="padding:0px !important;" id="uno"> 
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <label>¿Cómo me siento?</label>
      </ion-item>
    </ion-card>
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;"  id="dos">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <label>Otros síntomas</label>
      </ion-item>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-card-content>
        ¿No puedes encontrar tu síntoma? 
        <p>¡Usa tu micrófono y nosotros lo encontraremos por tí!</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-button (click)="startListening()" id="mic">
    <img src="assets/imagenes/mic.png" alt="">
  </ion-button> 
    <ion-card>
      <ion-card-content>
        {{ match }}
      </ion-card-content>
    </ion-card>
</ion-content>
