<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref='/tab2' style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="--background-color: white;">
  </ion-header>


  <div>
    <ion-item id="inicio"  lines="none" style="--background:white; text-align: center;">
      <ion-title id="titulo">
        <ion-label>Restaurar contraseña</ion-label>
      </ion-title>
    </ion-item>
</div>
  <div id ="forms">
    <ion-item class="items">
      <ion-label  placeholder="email" class="label" position="stacked">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item class="items">
      <ion-label class="label" position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
    </ion-item>
  </div>
  <ion-grid style="margin-top: 42px;">
    <ion-button (click)="updatePass()" id="buttonI">Restaurar </ion-button>
    </ion-grid>
</ion-content>
