<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-item lines="none" style="--background:#f1f5f8; text-align: center;">
    <ion-avatar slot="end">
      <img src="assets/imagenes/paciente.png">
    </ion-avatar>
    <ion-title id="titulo">
      <ion-label>{{dataFor.name}}</ion-label>
    </ion-title>
  </ion-item>
  <ion-grid>
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;" id="uno" (click)="routerClick('/nuevoproceso')">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/Puzzle.png">
        </ion-thumbnail>
        <h5>Iniciar nuevo proceso</h5>
      </ion-item>
    </ion-card>
    <ion-card (click)="routerClick('/misprocesos')"button="true">
      <ion-item lines="none" style="padding:0px !important;" id="dos">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/procesos.png">
        </ion-thumbnail>
        <h5>Mis procesos</h5>
      </ion-item>
    </ion-card>
    <ion-card button="true" (click)="routerClick('/draw-anatomye')">
      <ion-item lines="none" style="padding:0px !important;" id="tres">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/Report.png">
        </ion-thumbnail>
        <h5>Reporte de síntomas</h5>
      </ion-item>
    </ion-card>
    <ion-card button="true">
      <ion-icon  *ngIf="alertEneable" style="margin-left:80%;margin-top: 7px;background-color: rgb(255, 0, 76);border-radius:100% ;" name="sad-outline"></ion-icon>
      <ion-item lines="none" style="padding:0px !important;" id="cuatro" (click)="routerClick('/tabs/notifications')">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/Alarma.png">
        </ion-thumbnail>
        <h5>Mis alertas</h5>
      </ion-item>
    </ion-card>
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;" id="cinco" (click)="routerClick('/lineatemporal')">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/Report.png">
        </ion-thumbnail>
        <h5>Linea de procesos</h5>
      </ion-item>
    </ion-card>
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;" id="cinco">
        <ion-thumbnail slot="end">
          <img src="assets/imagenes/Descargar.png">
        </ion-thumbnail>
        <h5>Descarga de procesos</h5>
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>