<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tab1' style="color:black" text=""></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
  <ion-grid  id="inicio" style="width: 100%; height:20vh">
    <ion-item id= "titulo" lines="none" style="--background:white; text-align: center;">
    <ion-label>Alertas</ion-label>
    </ion-item>
  </ion-grid>
<h3  id="alertsFalse" *ngIf="noAlerts" style="text-align: center; margin-top: 20%;">¡En este momento no tienes alertas!</h3>
<ion-grid id="alertas" *ngIf="getChange">
  <ion-row>
    <ion-col size="6" >
      <ion-card *ngIf="getChange" style="height: 124px;">
        <ion-item  lines="none" style="padding:0px !important;"> 
          <label>{{getAlert}}</label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button style="color: #56CCF2">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>