<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="--background-color: white;">
  </ion-header>
  <div>
    <ion-grid id="inicio" style="width: 100%; height:10vh;">
      <ion-item lines="none" style="--background:white; text-align: center;">
        <ion-title id="titulo">
          <ion-label>Alertas</ion-label>
        </ion-title>
      </ion-item>
    </ion-grid>
  </div>
<h3  id="alertsFalse" *ngIf="noAlerts">¡En este momento no tienes nuevas alertas!</h3>
<ion-grid *ngIf="getChange">
  <ion-row>
    <ion-col size="6" >
      <ion-card *ngIf="getChange" style="height: 124px;">
        <ion-item  lines="none" style="padding:0px !important;"> 
          <label>{{getAlert}}</label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-item lines="full">
  <h5 id ="symptoms">Tus alertas</h5>
  <ion-label>Item Lines Full</ion-label>
</ion-item>
<ion-item *ngFor="let item of userFor;index as i" lines="full">
  <p id ="alertsTrue">{{item.description_alerts}}</p>
  <P id ="fechaCreacion">{{item.createdAt.slice(0,-14)}}</P>
</ion-item>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="sendNewAlert()" style="color: #56CCF2">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>