<ion-header>
  
</ion-header>

<ion-content>
  <div><h1 class="h1">PeriOpera</h1></div>
    <img   class="img" src="../../../assets/img/logo1.png" alt="">
   
  <div class="semiblog">
    <img class="loading"src="../../../assets/img/cargando.gif" alt="">
    <h4 class="h3">Una aplicacion pensada  para tu bienestar</h4>
      <h5 class="h5">organizan</h5> 
  </div>
  <div class="logos">
    <img class="logou" src="../../../assets/img/logoCu.png" alt="">
     <img class="logou"  src="../../../assets/img/logoN.png" alt="">

  </div>
   <div>
     <h6 class="h5sub">Grupo de investigacion perioperatorio</h6>
     <h6 class="h5sub">Grupo de investigacion GINDESOFT</h6>
     <h6 class="h5sub">Grupo de investigacion VERITAS AID</h6>
     
   </div>
  

</ion-content>
