@import '../../../global.scss';


ion-content {
    --background:#F5F5F8;
}
.h1{
    
    color: black;
    margin-top: 3rem;
    margin-left:8.8rem;
    font-weight: 500;
}
.h3{
    
    color: #9E9E9E;
    margin-left:3.5rem;
  
}
.h5{
    
    color: #9E9E9E;
    margin-left:10rem;
  
}
.img{
     
    width: 300px;
    margin-left: 3rem;
    margin-top: 3rem;
}



.logou{
     width:160px;

}

.logos{

    margin-left: 2.8rem;
}
.h5sub{
    color: #9E9E9E;
    margin-left:3rem;
}
.loading{
    width: 40px;
    margin-left: 11rem;
}
