<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref='/tipousuario' style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
  <div style="width: 100%; height:26vh">
    <p></p>
    <ion-avatar style="margin: auto;">
      <img src="assets/imagenes/paciente.png"/>
    </ion-avatar>
  </div>
<ion-content>
  <div>
    <ion-tabs id="tabs" no-lines>
      <ion-tab-bar slot="top" >
        <ion-tab-button class="tabs-one" tab="log-one">
          <p>Inicio</p>
        </ion-tab-button>
        <ion-tab-button  class="tabs-one"tab="log-two">
         <p>Registro</p>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </div>
</ion-content>  