ion-content {
  --background:#F5F5F8;
}
  ion-card{
    background-color: transparent !important;
    padding: 0 !important;
  }
  ion-avatar {
    width: 20vh;
    height: 20vh;
    position: static;
    background: #FFFFFF;
    margin-bottom: 5px;
    border: 20px solid #FFFFFF;
} 
  ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color:#080808;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#898585;
    text-align: center;
    font-weight: 300;
  }
  
  ion-card{
    --ion-background-color:transparent;
  box-shadow: none !important;
  }
  
  .signin-btns{
    margin-top: 35px;
    text-align: center;
    color:#F0F4FA;
  }
  
  .loginbtn{
    --ion-color-primary:#215AB7;
  }
  
  .text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#898585;
    }
  }
  
  .social-btns{
    margin-top: 30px;
    text-align: center;
    ion-button{
      width:40px;
      padding-left: 5px !important;
    }
}  
#img{
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tabs-one:hover{
  border-bottom-width: 1px solid #545654;
}
ion-tab-bar{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
