ion-content{
    --ion-background-color: #F5F5F8;
}
ion-header{
    position: absolute;
}
ion-toolbar {
    --border-style: none;
    --ion-background-color:transparent;
    --opacity:0;
  }
  ion-card{
    background-color: transparent !important;
    padding: 0 !important;
  }
  
  
  
  ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color:#080808;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#898585;
    text-align: center;
    font-weight: 300;
  }
  
  ion-header{
    position: absolute;
  }
  
  ion-card{
    --ion-background-color:transparent;
  box-shadow: none !important;
  }
  
  .signin-btns{
    margin-top: 35px;
    text-align: center;
    color:#F0F4FA;
  }
  
  .loginbtn{
    --ion-color-primary:#215AB7;
  }
  
  .text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#898585;
    }
  }
  
  .social-btns{
    margin-top: 30px;
    text-align: center;
    ion-button{
      width:40px;
      padding-left: 5px !important;
    }
  }
#tabs{


}  
#img{
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tabs-one:hover{
  border-bottom-width: 1px solid #545654;
}