<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tab1' style="color:black" text=""></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
    <div>
    <ion-grid style="width: 100%; height:28vh">
    <ion-item lines="none" style="--background:white; text-align: center;">
    <ion-title id="titulo">
    <ion-label>Descargar procesos</ion-label>
    </ion-title>
    </ion-item>
    <ion-item lines="none" style="--background:white; text-align: center; margin-top: 40px;">
      <p> Aquí podrás encontrar y descargar todos tus procesos quirúrgicos clasificados por operación realizada</p>
    </ion-item>
    </ion-grid>
    </div>
    <ion-item lines="none" style="--background: transparent; margin-top: 40px;">
    <ion-searchbar animated placeholder="Buscar..." debounce="500"></ion-searchbar>
    </ion-item>
</ion-content>
