<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/reportes" style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>  
    <ion-slides style="margin-top: -50px;">
      <ion-slide>
          <img src="assets/imagenes/Puntos 1.png" style="max-width: 100% ; max-height: 100%"/>
          <h2 style="margin-top: -30px; text-align: center;">Puntos de Conectividad en Soacha</h2>
          <p>En esta sección encontrarás las zonas disponibles con wi-fi gratuito.</p>
         <p>Desliza para continuar<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>
      <ion-slide>
        <img src="assets/imagenes/mapacompleto.png" style="max-width: 100% ; max-height: 100%"/>
        <h2 style="margin-top: -30px; text-align: center;">Puntos de Conectividad en Soacha</h2>
        <p>¿No sabes como llegar? ¡Utiliza el mapa y revisa cómo llegar!</p>
        <ion-button href="https://www.google.com/maps/d/u/0/edit?mid=1NGyD848UIV3_lepRQeUG9-ScmWgRsss9&usp=sharing">Ver el mapa <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
    </ion-slides>
