
.items{
    margin-left: 20vw;
    margin-top: 2rem;
    border: solid 0.5px #E6E6E6;
    width: 170px;
    height: 69px;
}
#buttonI{
    margin-left: 25vw;
    margin-top: 3rem;
   
}
#titulo2{
    font-size: 19px;
    margin-left: 14vw;
    
}
#title1{
    font-size: 11px;
    margin-left: 18vw;
    width: 185px;
}
