<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref='/tab2' style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true" *ngIf="dataReturn !== ''">
  <ion-header collapse="condense" style="--background-color: white;">
  </ion-header>


  <div>
    <ion-item id="inicio"  lines="none" style="--background:white; text-align: center;">
      <ion-title id="titulo">
        <ion-label>Reportar fecha del proceso</ion-label>
      </ion-title>
    </ion-item>
</div>
    <ion-grid>
        <h1 id="title1" >{{title}}</h1>
        <ion-row>
          
                <ion-item class="items">
                    <ion-label class="label" position="floating">Fecha del proceso </ion-label>
                    <ion-datetime  [(ngModel)]="date" displayFormat="DD-MMM-YYYY"></ion-datetime>
                  </ion-item>
          
        </ion-row>
        <ion-button (click)="showPromptAlert()" id="buttonI" >Registrar fecha</ion-button>
    </ion-grid>
</ion-content>
