<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div id ="forms">
    <ion-item class="items">
      <ion-label  placeholder="email" class="label" position="stacked">Correo electrónico</ion-label>
      <ion-input  [(ngModel)]="registro.email"></ion-input>
    </ion-item>
    <ion-item class="items">
      <ion-label class="label" position="stacked">Contraseña</ion-label>
      <ion-input name="password" type="password"[(ngModel)]="registro.password"></ion-input>
    </ion-item>
    <div class="password_forgot">
      <ion-button   (click)="routerClick('update')" fill="clear" class="ion-no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Olvidaste tu contraseña?</ion-button>
    </div>
    <div class="password_forgot">
      <ion-button (click)="routerClick('tutorial')" fill="clear" class="ion-no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inicia el tutorial</ion-button>
    </div>
    <div class="password_forgot">
      <ion-button (click)="routerClick('mapaconectividad')" fill="clear" class="ion-no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zonas wifi</ion-button>
    </div>
  </div>
  <ion-grid style="margin-top: 42px;">
  <ion-button (click)=" LoginUp()" id="buttonI">Iniciar Sesión</ion-button>
  </ion-grid>

</ion-content>

