<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/imagenes/header1.png"></ion-img>
</ion-card>

<ion-card-content>
  <div class="wrapform">
    <ion-item>
      <ion-input type="text" name="email" [(ngModle)]="email"  placeholder="Email" required>
      <ion-icon name="mail-outline"></ion-icon></ion-input>
     </ion-item>
     <ion-item>
      <ion-input type="password" name="password" [(ngModle)]="password"  placeholder="**************" required>
        <ion-icon name="lock-closed-outline"></ion-icon></ion-input>
    </ion-item>
  </div>
  <div class="password_forgot">
    <ion-button fill="clear" class="ion-no-padding">¿Olvidaste tu contraseña?</ion-button>
 </div>
 <div class="sign-btn-wrap">
    <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn">Iniciar sesión</ion-button>
   </div>
   <div class="text-tag">
    <span>O inicia con tus redes sociales</span>
    </div>
    <div class="social-btns">
      <ion-button fill="clear"  class="facebookbtn ion-no-padding">
    <ion-img src="assets/imagenes/facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="googlebtn ion-no-padding">
    <ion-img src="assets/imagenes/google.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="applebtn ion-no-padding">
    <ion-img src="assets/imagenes/apple.png"></ion-img>
      </ion-button>
   </div>
</ion-card-content>
<div class="ion-card-footer">
  <span>¿No tienes una cuenta?</span><button class="ion-no-padding" >Regístrate</button>
   </div>
</ion-content>