<ion-content [fullscreen]="true" *ngIf="dataReturn !== ''">
  <ion-header>
  </ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tab2' style="color:black"></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
    <ion-card id="carta">
      <ion-item lines="none" style="padding:0px !important;" id="borde" >
        <ion-thumbnail slot="end" style=" width: 69px;height: 108px;left: 24px; top: 4px;">s
          <img src="assets/imagenes/electro.png">
        </ion-thumbnail>
        <h5>Selecciona tus sintomas</h5>
      </ion-item>
    </ion-card>
    <ion-grid>
      <ion-card *ngFor="let item of dataReturn;index as i">
        <div (click)="symptomsUser(item.nombre)">
          <h1>{{item.nombre}}</h1>
          <label>{{item.description}}</label>
        </div>
      </ion-card>
    </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addSymptonsUser()">
      <ion-fab-button style="color: #56CCF2">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
