<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref='/tab2' style="color:black" text=""></ion-back-button>
 </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true" *ngIf="dataReturn !== ''">
  <ion-header collapse="condense" style="--background-color: white;">
  </ion-header>


  <div>
    <ion-item id="inicio"  lines="none" style="--background:white; text-align: center;">
      <ion-title id="titulo">
        <ion-label>Lista de síntomas</ion-label>
      </ion-title>
    </ion-item>
</div>

    <ion-grid id="sintomas">
      <ion-card *ngFor="let item of dataReturn;index as i">
        <div *ngIf="item.nombre !=''" (click)="symptomsUser(item.nombre,i)">
          <h1 id="header">{{item.nombre}}</h1>
          <label id="labelHeader">{{item.description}}</label>
        </div>
      </ion-card>
    </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addSymptonsUser()">
      <ion-fab-button style="color: #56CCF2">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="listBoolen" id="fab" horizontal="end" vertical="bottom" slot="fixed" (click)="getSymptoms()">
      <ion-fab-button style="color: #56CCF2">
        <ion-icon name="heart-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
