ion-content {
    --background:#F5F5F8;
}
#titulo{
    position: static;
    width: 277px;
    height: 32px;
    left: 0px;
    top: 9px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    line-height: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
}