ion-content {
    --background:#F5F5F8;
}
#titulo{
    width: 277px;
    height: 32px;
    left: 0px;
    top: 9px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    line-height: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    position: static;
}
#espacio{
    height: 8vh;
    width: 100%;
    margin-left: -5.0vh;
    margin-top: -5px;
    --background:#F5F5F8;
}
ion-icon {
    color: black;
  }
  ion-card{
    border-radius: 20px;
    --background-color: white;
    background: #FFFFFF;
    position: static;
    left: 46px;
    top: 319px;
    box-shadow: 1px 3px 0px;
    border-radius: 20px;
    
  }
  ion-card-content{
    background-color:white;
}
ion-item {
    --background: white;
    --background-color: white;
    --color:white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}
label{
    position: static;
    width: 315px;
    height: 60px;
    left: 36px;
    top: 0px;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.5px;
    color:black;
    left: calc(50% - 209px/2 - 51px);
    top: calc(50% - 26px/2);
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 10px;
}

#botones{
ion-card:hover, #uno:hover, #dos:hover  {
    background-color: white !important;
    transform: scale(0.9);
 }
}
 ion-card-content{
     
     text-align: center;
     font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    p{
        text-align: center;
        font-style: normal;
       font-weight: 300;
       font-size: 15px;
       line-height: 21px;
       color: #000000;
    }
 }
    ion-avatar {
            width: 25vh;
            height: 25vh;
            position: static;
            background: #FFFFFF;
            box-shadow: 10px 9px 47.1374px rgba(0, 0, 0, 0.15);
            margin-bottom: 5px;
            border: 20px solid #FFFFFF;
    }