<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-item lines="none" style="--background:#f1f5f8; text-align: center;">
    <ion-title>
      <h5 id="titulo">Tipo de Usuario</h5>
    </ion-title>
  </ion-item>
<ion-grid id="espacio">
</ion-grid>

  <ion-grid id="botones">
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;" id="uno"> 
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <label>Profesional de la Salud</label>
      </ion-item>
    </ion-card>
    <ion-card button="true">
      <ion-item lines="none" style="padding:0px !important;"  id="dos">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <label>Paciente</label>
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>